<h2 mat-dialog-title>
  {{ data ? "Actualizar Chofer" : "Crear Chofer" }}
</h2>

<form [formGroup]="choferForm">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
      <mat-error *ngIf="choferForm.get('nombre')?.errors?.['required']">
        El nombre es requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido">
      <mat-error *ngIf="choferForm.get('apellido')?.errors?.['required']">
        El apellido es requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>DNI</mat-label>
      <input matInput formControlName="dni">
      <mat-error *ngIf="choferForm.get('dni')?.errors?.['required']">
        El DNI es requerido.
      </mat-error>
      <mat-error *ngIf="choferForm.get('dni')?.errors?.['min']">
        El DNI debe ser mayor o igual a 4000000.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>CUIT</mat-label>
      <input matInput formControlName="cuit">
      <mat-error *ngIf="choferForm.get('cuit')?.errors?.['required']">
        El CUIT es requerido.
      </mat-error>
      <mat-error *ngIf="choferForm.get('cuit')?.errors?.['min']">
        El CUIT debe ser un número válido.
      </mat-error>
      <mat-error *ngIf="choferForm.get('cuit')?.errors?.['max']">
        El CUIT debe ser un número válido.
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button color="primary" (click)="createOrUpdate()" [disabled]="choferForm.invalid">Guardar</button>
  </mat-dialog-actions>
</form>
