<div>
  <!-- Filtros -->
  <mat-form-field class="filter-field" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="filters.name" placeholder="Nombre">
  </mat-form-field>

  <!-- Botón de filtro -->
  <button id="filtro" mat-raised-button color="primary" (click)="applyFilters()">Filtrar</button>

    <!-- Botón flotante para agregar nueva especie -->
    <button mat-fab color="primary" class="add-button" (click)="add_new_tipo_acoplado()">
      <mat-icon>add</mat-icon>
    </button>

</div>

<!-- Tabla -->
<table mat-table [dataSource]="dataSource">
  <!-- Columna ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Columna Tipo -->
  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef> Tipo </th>
    <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
  </ng-container>

   <!-- Columna Cantidad de Ejes -->
   <ng-container matColumnDef="cantidad_ejes">
    <th mat-header-cell *matHeaderCellDef> Cant. Ejes </th>
    <td mat-cell *matCellDef="let element"> {{element.cantidad_ejes}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon  (click)="openEditModal(element)">edit</mat-icon>
    </td>
  </ng-container>

  <!-- Fila de Cabecera -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Fila de Cuerpo -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
