<div>
  <!-- Filtros -->
  <mat-form-field class="filter-field" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="filters" placeholder="Nombre" />
  </mat-form-field>

  <!-- Botón de filtro -->
  <button id="filtro" mat-raised-button color="primary" (click)="applyFilters()">
    Filtrar
  </button>

  <!-- Botón flotante para agregar nueva especie -->
  <button mat-fab color="primary" class="add-button" (click)="addNew()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- Tabla -->
<table mat-table [dataSource]="filterData">
  <!-- Columna ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Columna Dominio -->
  <ng-container matColumnDef="dominio">
    <th mat-header-cell *matHeaderCellDef>Dominio</th>
    <td mat-cell *matCellDef="let element">{{ element.dominio }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="openEditModal(element)">edit</mat-icon>
    </td>
  </ng-container>

  <!-- Fila de Cabecera -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Fila de Cuerpo -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
