.docs-navbar-header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 16px;
}

.example-spacer{
  flex: 1 1 auto;
}

.bar{
  margin-bottom: 50px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

.desktop-only {
  display: none;
}

@media (min-width: 600px) {
  .desktop-only {
    display: inline-flex;
  }
}
