<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Columnas de la tabla -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="origen">
      <th mat-header-cell *matHeaderCellDef> Origen </th>
      <td mat-cell *matCellDef="let element"> {{element.Origen?.direccion}} </td>
    </ng-container>

    <ng-container matColumnDef="destino">
      <th mat-header-cell *matHeaderCellDef> Destino </th>
      <td mat-cell *matCellDef="let element"> {{element.Destino?.direccion}} </td>
    </ng-container>

    <ng-container matColumnDef="especie">
      <th mat-header-cell *matHeaderCellDef> Especie </th>
      <td mat-cell *matCellDef="let element"> {{element.Especie?.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.EstadoViaje?.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <!-- añadir botones de acción -->
        <button mat-icon-button matTooltip="Tomar Viaje" aria-label="Tomar Viaje">
          <mat-icon>local_shipping</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="totalItems"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
